<h1>About</h1>
<div>
  <h3>This is RenKataoka's first web application.</h3>
  <p>To try this app,</p>
  <ul>
    <li>Enter <%= link_to "Log in", login_path, :target=>["_blank"] %>, and fill in the blanks.</li>
    <li>Email : example-0@railstutorial.org</li>
    <li>Password : password</li>
  </ul>
</div>
