<div class="about">
  <h1>About</h1>
  <h3>This is RenKataoka's first web application.</h3>
  <p>To try this app,</p>
  <ol>
    <li>Enter <%= link_to "Log in", login_path, :target=>["_blank"] %>, and fill in the blanks.</li>
    <li>Email : example-0@railstutorial.org</li>
    <li>Password : password</li>
  </ol>
</div>
<div class="about usage">
  <h3>Usage</h3>
  <b>Sign up</b>
  <ol>
    <li>Enter <%= link_to "Sign up", signup_path, :target=>["_blank"] %>, and fill in the blanks.</li>
    <li>Then, check your email to activate your account.</li>
    <li>Click the Activate link, then you can finish Sign Up.</li>

  </ol>
  <b>Post micropost</b>
  <ol>
    <li>Confirm you logged in as example user.</li>
    <li>Enter <%= link_to "Home page", root_path, :target=>["_blank"] %>.</li>
    <li>Write your micropost to the text field(that says "Compose new micropost...")</li>
  </ol>
  <b>etc...</b><br>
  You can...
  <ul>
    <li>Follow other users.</li>
    <li>Reply to other users.(@id+username)</li>
    <li>Change your thumbnail and biography.</li>
  </ul>
</div>
