<%= render 'index' %>

<h3 id="show_head">チャット詳細画面</h3>
<div class="show">
  <p>Name : <%= @chat.name %></p>
  <p>Content : <%= @chat.content %></p>
</div>

<div>
  <%= link_to '一覧画面に戻る', chats_path %>
</div>
