
header ul:after {
  content: "";
  display: block;
  clear: both;
}

th{
  text-align: center;
}

td{
  line-height: 22px;
}

div.post{
  padding-top: 50px;
}

div.show{
  font-size: 16px;
}

ul{
  list-style: none;
}

li.name{
  font-size: 20px;
}

.edit{
  padding:3px;
  border:groove 2px;
}


html {
  position: relative;
  min-height: 100%;
}
