/* universal */

body {
  background-color: rgba(120,130,190,0.3);
  color:#333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn, .btn-primary {

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: lighter;
  &:hover {
    color: #66d;
    text-decoration: none;
  }
}

/* footer */

footer {
  width:90%;
  background-color:#d3f2fd;
  padding: 20px 0 10px 0;
  color: #66b;
  padding-bottom: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right:5%;
}

/* sidebar */

aside {
  section.user_info {
    text-align: left;
    margin-top:20px;
  }
  section {
    padding: 5px 0;
    margin-top: 10px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      text-align: left;
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #666;
    color: #666;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.biog {
  text-align: left;
  font-size: 1.1em;
  overflow: auto;
  span {
    margin:5px 0;
  }
}

.user_avatars {
  float:left;
  margin-top: 10px;
  .thumb {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}




/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  text-align: left;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #666;
  }
}
.pagination {
  padding: 10px;
}
.search {
  width: 30%;
  margin: auto;
}

/* microposts */

.microposts {
  text-align: left;
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    padding:8px 0;
    display: block;
    margin-left: 60px;
    font-size: 1.1em;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #888;
    display: block;
    margin-left: 60px;
    font-size: 0.9em;
  }
  .thumb {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* About */
.about {
  text-align: left;
  b {
    border-bottom: solid 1px;
  }
}

/* message */
section.message_box {
  padding: 10px;
  overflow: scroll;
  #messages {
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
}

#message_from {
  font-size: 1.2em;
}

#message_content {
  font-size: 1.1em;
}

#message_created_at {
  font-size: 0.8em;
  border-bottom: 1px solid #aaa;
}
